# Application
NODE_ENV=development
NEXT_PUBLIC_API_URL=http://localhost:3000/api

# Frontend
PORT=3000

# n8n
N8N_HOST=0.0.0.0
N8N_PORT=5678
N8N_PROTOCOL=http
N8N_EDITOR_BASE_URL=http://localhost:5678/

# Ollama
OLLAMA_BASE_URL=http://ollama:11434
OLLAMA_MODEL=mistral
OLLAMA_TEMPERATURE=0.7
